footer {
    width: 100%;
    background-color: #9E788F;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 10;
    position: relative;
    height: 85px;
    font-size: 1.6em;
    line-height: 42.5px;
    display: flex;
    
    color: #E3DFFF;
}
footer > div{
    width: 640px;
}