<div>
    <mat-card>
        <h2>live_title</h2>
        <div><input placeholder="title"></div>
        <div><button mat-flat-button color="primary" (click)="onTitleNotify()">APPLY</button></div>
    </mat-card>
</div>
<div>
    <mat-card class="pokemon">
        <h2>my pokemons</h2>
        <div>
            <div>
                <mat-card>
                    <h3>pokemon1</h3>
                    <div>
                        <input placeholder="name">
                    </div>
                    <div>
                        <mat-slide-toggle>use</mat-slide-toggle>
                    </div>
                    <div>
                        <mat-slide-toggle>down</mat-slide-toggle>
                    </div>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <h3>pokemon2</h3>
                    <div>
                        <input placeholder="name">
                    </div>
                    <div>
                        <mat-slide-toggle>use</mat-slide-toggle>
                    </div>
                    <div>
                        <mat-slide-toggle>down</mat-slide-toggle>
                    </div>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <h3>pokemon3</h3>
                    <div>
                        <input placeholder="name">
                    </div>
                    <div>
                        <mat-slide-toggle>use</mat-slide-toggle>
                    </div>
                    <div>
                        <mat-slide-toggle>down</mat-slide-toggle>
                    </div>
                </mat-card>
            </div>
        </div>
        <div>

            <div>
                <mat-card>
                    <h3>pokemon4</h3>
                    <div>
                        <input placeholder="name">
                    </div>
                    <div>
                        <mat-slide-toggle>use</mat-slide-toggle>
                    </div>
                    <div>
                        <mat-slide-toggle>down</mat-slide-toggle>
                    </div>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <h3>pokemon5</h3>
                    <div>
                        <input placeholder="name">
                    </div>
                    <div>
                        <mat-slide-toggle>use</mat-slide-toggle>
                    </div>
                    <div>
                        <mat-slide-toggle>down</mat-slide-toggle>
                    </div>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <h3>pokemon6</h3>
                    <div>
                        <input placeholder="name">
                    </div>
                    <div>
                        <mat-slide-toggle>Use</mat-slide-toggle>
                    </div>
                    <div>
                        <mat-slide-toggle>Down</mat-slide-toggle>
                    </div>
                </mat-card>
            </div>
        </div>
        <div><button mat-flat-button color="primary">APPLY</button></div>
    </mat-card>
</div>
<div>
    <mat-card class="pokemon">
        <h2>
            Opponent pokemons</h2>
        <div>
            <div>
                <mat-card>
                    <h3>pokemon1</h3>
                    <div>
                        <input placeholder="name">
                    </div>
                    <div>
                        <mat-slide-toggle>use</mat-slide-toggle>
                    </div>
                    <div>
                        <mat-slide-toggle>down</mat-slide-toggle>
                    </div>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <h3>pokemon2</h3>
                    <div>
                        <input placeholder="name">
                    </div>
                    <div>
                        <mat-slide-toggle>use</mat-slide-toggle>
                    </div>
                    <div>
                        <mat-slide-toggle>down</mat-slide-toggle>
                    </div>
                </mat-card>
            </div>

        </div>
        <div>
            <div>
                <mat-card>
                    <h3>pokemon3</h3>
                    <div>
                        <input placeholder="name">
                    </div>
                    <div>
                        <mat-slide-toggle>use</mat-slide-toggle>
                    </div>
                    <div>
                        <mat-slide-toggle>down</mat-slide-toggle>
                    </div>
                </mat-card>
            </div>
            <div>
                <mat-card>
                    <h3>pokemon4</h3>
                    <div>
                        <input placeholder="name">
                    </div>
                    <div>
                        <mat-slide-toggle>use</mat-slide-toggle>
                    </div>
                    <div>
                        <mat-slide-toggle>down</mat-slide-toggle>
                    </div>
                </mat-card>
            </div>

        </div>
        <div><button mat-flat-button color="primary">APPLY</button></div>
    </mat-card>
</div>